html {
  height: 150%;
  overflow: hidden;
}

body {
  height: 150%;
  display: block;
  text-align: center;
  margin: 30px auto;
  background: linear-gradient(rgba(37, 37, 177, 0.9), rgba(238, 192, 107, 0.9));
}

.calculator {
  display: inline-grid;
  width: 300px;
  grid-template: repeat(5, auto) / repeat(4, auto);
  grid-gap: 7px;
  padding: 10px;
  background-color: #E1EAE4;
  box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.4);
}

.calculator > button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 1.4em;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);
  padding: 15px;
}

.display {
  grid-column: span 4;
  font-family: 'LCD-Bold';
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #EDF8FA;
  margin: 3px;
  border: 1px solid rgb(193, 204, 196);
  box-shadow: 1px 1px 1px 1px rgb(170, 170, 170);
  text-align: right;
  font-size: 1.8em;
  padding: 15px;
}

.delete-button {
  grid-column: span 2;
  background-color: #EEBBBB;
  border: solid 2px #EEBBBB;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

.number {
  background-color: #82D4BB;
  border: solid 2px #82D4BB;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

.operator {
  background-color: #68b5e0;
  border: solid 2px #68b5e0;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}
.equals {
  background-color: #EEDD66;
  border: solid 2px #EEDD66;
}
.calculator > button.selected {
  border: solid 2px #000;
  transition: all .1s;
}
