html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}
.calculator {
  display:grid;
  max-width: 400px;
  height: 70%;
  grid-template:repeat(5, auto) / repeat(4, auto);
  grid-gap: 7px;
  padding: 5px;
  background-color: #E1EAE4;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.3);
}

.calculator > button {
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
  padding: none;
}

.display {
  grid-column: span 4;
  background-color: #EDF8FA;
  margin: 3px;
  border: 1px solid rgb(193, 204, 196);
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);

}

.delete-button {
  grid-column: span 2;
  background-color: #DED9E2;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

.number {
  background-color: #82D4BB;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

.operator {
  background-color: #6FA0B7;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}
